{% extends 'base.html' %}
{% block cssstyle %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% endblock %}  
{% block content %}
    <div class="container-fluid">
        <ul class="nav bg-info">
          <li class="nav-item">
            <a class="nav-link link-light" href="{% url 'home' %}">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="{% url 'post' 'all-post' %}">POST</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="{% url 'about' %}">ABOUT</a>
          </li>
        </ul>
    </div>
{% endblock %}
    